.viewAndSend {
    width: 320px;
    height: 85px;
    top: 955px;
    left: 573px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    background: #FFFFFF;
    color: #C20101;
}

.viewAndSend:hover{
    color: #FFFFFF;
    background-color: #C20101;
}

.viewAndSend3 {
    width: 100%;
    height: 85px;
    top: 955px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    color: #FFFFFF;
    background-color: #C20101;
}
.viewAndSend3:hover {
    background: #FFFFFF;
    color: #C20101;
    
}

.viewLc {
    width: 320px;
    height: 85px;
    top: 955px;
    left: 573px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    color: #FFFFFF;
    background-color: #C20101;
}

.viewLc:hover{
    background: #FFFFFF;
    color: #C20101;

}