.viewEscortBtn .viewAndSend {
    width: 100%;
    height: 85px; /* لضمان نفس الارتفاع */
    border-radius: 12px; /* يجعل الحواف دائرية */
    background: #FFFFFF; /* خلفية بيضاء */
    color: #C20101; /* النص بالأحمر */
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* الظلال */
    transition: box-shadow 0.3s ease-in-out; /* تأثير ناعم عند التفاعل */
  }

.viewEscortBtn .viewAndSend:hover{
    color: #FFFFFF;
    background-color: #C20101;
}

.viewLc {
    width: 320px;
    height: 85px;
    top: 955px;
    left: 573px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    color: #FFFFFF;
    background-color: #C20101;
}

.viewLc:hover{
    background: #FFFFFF;
    color: #C20101;

}


.ReplaceBtn{

    border: 1px solid #C20101 !important;
}

.ReplaceBtn:hover{

    color: #FFFFFF;
    background-color: #C20101;
}

.upLoadBtn:hover{

    background: #780303;
}