

.mail {
    gap: 24px;
}


.phoneNumber {
    width: 138px;
    height: 48px;
    box-sizing: border-box;
    padding-right: 8px;
    /* زودنا المسافة */
    overflow: hidden;
    /* لمنع القص */
    direction: ltr;
    /* لضمان ترتيب العناصر */
}



.closeBtn {
    background: #B8B8B8;
    height: 50px;
    width: 50px;
    justify-items: center;
}

.theNumber {
    width: 539px;
    height: 48px;
}


.phoneNumberVerfi {
    transform: translateX(10%);
    position: fixed;

}

.phoneNumberVerfi .phoneMsg {
    background: #F3F3F3;
    font-weight: bold;
    height: 434px;
    width: 588px;
    align-content: center;
}


.numBg {
    width: 85.75px;
    height: 108.45px;
    gap: 0px;
    border-radius: 24px;
    opacity: 0px;
    background: #FFFFFF;

}

.nums {
    font-size: 66px;
    color: #C20101;
    font-weight: 500;
}


@media (max-width: 650px) {
    .rightSection {
        width: 100% !important;
    }

    .phoneNumberVerfi{
        justify-content: initial !important;
    }

    .phoneNumberVerfi .phoneMsg {
        width: 80%; /* اجعل العرض 80% من الشاشة في الشاشات الصغيرة */
        height: auto; /* السماح بمرونة الطول */
        padding: 16px; /* تقليل الحشو الداخلي */
    }

    .numBg {
        width: 60px; /* تصغير عرض الأرقام */
        height: 80px; /* تصغير طول الأرقام */
        border-radius: 12px; /* تقليل نصف القطر */
    }

    .nums {
        font-size: 36px; /* تصغير حجم النص */
    }

    .closeBtn {
        height: 40px;
        width: 40px;
    }

}

/* For 13" MacBook (1280px width) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .rightSection {
        width: 100% !important;
    }
    
    .mainVerf {
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 114px;
        padding: 20px;
        width: 940px;
        background-color: rgb(236, 236, 236);
    }
}

/* For MacBook Pro 15" or 16" (1440px width and up) */
@media only screen and (min-width: 1401px) and (max-width: 1600px) {
    .rightSection {
        width: 100% !important;
    }
    
    .mainVerf {
        margin-top: 50px;
        margin-left: 25%;
        margin-right: 114px;
        padding: 20px;
        width: 940px;
        background-color: rgb(236, 236, 236);
    }
}

@media (min-width: 992px) {
    .col-lg-9 {
        flex: 0 0 auto;
        width: 65% !important;
    }
}