
.nextLetter {
    width: 184px;
    height: 61px;
    gap: 10px;
    border-radius: 6px;
    opacity: 0px;
    background: #C20101;
    color: white;
}

.backLetter {
    width: 184px;
    height: 61px;
    gap: 10px;
    border-radius: 6px;
    opacity: 0px;
    background: white;
    color: #C20101;
    border: 1px solid #C20101;
}

/* Base styles for button containers */
.buttons-container, .finalBtns {
    display: flex;
    gap: 20px; /* Space between buttons */
}

/* Buttons styling */
.col-button {
    width: 33%; /* Default for larger screens */
    padding: 10px; /* Add padding for a more defined look */
    border-radius: 6px;
}

.theBorder{
    border: 1px solid black;
    border: 50%;
}

/* From Uiverse.io by SharpTH */
.cbx {
    -webkit-perspective: 20;
    perspective: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px;
    border: 2px solid #e8e8eb;
    background: #e8e8eb;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cbx:hover {
    border-color: #0b76ef;
  }
  
  .flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  #cbx {
    display: none;
  }
  
  .cbx.checked {
    border-color: #0b76ef;
  }
  
  .cbx.checked .flip {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }
  
  .front {
    background: #fff;
    z-index: 1;
  }
  
  .back {
    transform: rotateY(180deg);
    background: #0b76ef;
    text-align: center;
    color: #fff;
    line-height: 20px;
    box-shadow: 0 0 0 1px #0b76ef;
  }
  
  .back svg {
    margin-top: 3px;
    fill: none;
  }
  
  .back svg path {
    stroke: #fff;
    strokeWidth: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  

/* Mobile view: make each button take 100% width */
@media (max-width: 767px) {
    .buttons-container, .finalBtns {
        flex-direction: column; /* Stack vertically */
        align-items: center; /* Center buttons in container */
    }

    .col-button {
        width: 100%; /* Full width for mobile view */
    }
    
}



/* إخفاء الـ checkbox الافتراضي */
/* إخفاء الـ checkbox الافتراضي */
.checkBoxes input[type="checkbox"].hidden {
    display: none;
}

/* إعدادات الحاوية */
.checkBoxes label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* حجم المربع */
    height: 24px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff; /* الخلفية الافتراضية */
    cursor: pointer;
}

/* عند تحديد الـ checkbox */
.checkBoxes input[type="checkbox"].peer:checked + label {
    border-color: #C80000; /* لون الإطار عند التحديد */
}

/* عرض الـ SVG عند تحديد الـ checkbox */
.checkBoxes input[type="checkbox"].peer:checked + label svg {
    display: block;
}
