.business3Component .borderInput {
    background-color: white;
}

.business3Component label {
    text-align: start;
}


.business3Component .toggle-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.business3Component .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.business3Component .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.business3Component .toggle-slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.business3Component .toggle-switch input:checked + .toggle-slider {
    background-color: #f00;
}

.business3Component .toggle-switch input:checked + .toggle-slider:before {
    transform: translateX(14px);
}

.business3Component .toggle-switch input:not(:checked) + .toggle-slider {
    background-color: #555;
}

.business3Component .toggle-switch input:not(:checked) + .toggle-slider:before {
    transform: translateX(0);
}
 .backBtn10 {
    width: 200px;
    background: #FFFFFF;
    color: #000000;
}

 .backBtn10:hover {
    color: #FFFFFF;
    background-color: #C20101;
}

.nextBtn10 {
    width: 200px;
    color: #FFFFFF;
    background-color: #C20101;
}

 .nextBtn10:hover {
    background: #FFFFFF;
    color: #C20101;
}

@media (max-width: 700px) {
 .backBtn10 {
        width: 100%;
    }

.nextBtn10 {
        width: 100%;
    }
}
