.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    border-radius: 4px; /* شكل المربع */
}

.custom-checkbox:checked {
    background-color: white;
}

.custom-checkbox:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* لون علامة الصح */
    font-size: 16px;
    font-weight: bold;
}
