.asideStyles{
    height: 100%;
    width: 333px;
}

.sidebarStyles {
    left: 0;
    top: 0;
    width: 333px; /* عرض السايد بار */
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.word{
    padding-bottom: 50px;
}

.verfNav {
    padding-top: 70px;
}

.asideStyles div{
    margin-left: 10px;
}



.visible {
    display: block; /* اجعل السايد بار مرئيًا */
}

.visible.hidden {
    display: none; /* لإخفاء السايد بار عند الضغط على الزر */
}

@media (max-width: 768px) {
    .asideStyles {
        display: none; /* إخفاء السايد بار على الشاشات الصغيرة */
    }
    .mainVerf {
        margin-left: 0; /* لا هوامش في الشاشات الصغيرة */
        margin-right: 0;
        overflow: hidden;
    }
    .form-input {
        width: 100%; /* عرض الحقول */
    }
}

.asideBtns {
    width: 292px;
    height: 68px;
    gap: 0px;
    border-radius: 6px 0px 0px 0px;
    background-color: #F6D6D6;
}


.logOutIcon{
    margin-left: 105px;
}